@font-face {
	font-family: Pixel Coleco;
    	src: 
	url('#{resource["css:fonts/Pixel_Coleco.ttf"]}') format('truetype'),	
	url('#{resource["css:fonts/Pixel_Coleco.eot"]}') format('embedded-opentype'),
	url('#{resource["css:fonts/Pixel_Coleco.otf"]}') format('opentype'),
	url('#{resource["css:fonts/Pixel_Coleco.svg"]}') format('svg'),	
	url('#{resource["css:fonts/Pixel_Coleco.woff"]}') format('woff');	
}
@font-face {
	font-family: Pixel Digivolve;
    	src: 
	url('#{resource["css:fonts/Pixel_Digivolve.ttf"]}') format('truetype'),
	url('#{resource["css:fonts/Pixel_Digivolve.eot"]}') format('embedded-opentype'),
	url('#{resource["css:fonts/Pixel_Digivolve.otf"]}') format('opentype'),
	url('#{resource["css:fonts/Pixel_Digivolve.svg"]}') format('svg'),	
	url('#{resource["css:fonts/Pixel_Digivolve.woff"]}') format('woff');
}

@font-face {
  font-family: Hacked;
  src: 
  url('#{resource["css:fonts/HACKED.ttf"]}') format('truetype'),
  url('#{resource["css:fonts/HACKED.eot"]}') format('embedded-opentype'),
  url('#{resource["css:fonts/HACKED.otf"]}') format('opentype'),
  url('#{resource["css:fonts/HACKED.svg"]}') format('svg'),	
  url('#{resource["css:fonts/HACKED.woff"]}') format('woff');	  
}

#introBox  {
	width: 400px;
	height: 190px;
	margin: 0px auto;
}

#redText {
	color: #ff0000;
}

#intro {
	font-size: 25px;
	font-family: Pixel Coleco;
	text-align: center;
}

#nameBox {
	width: 300px;
	margin: 0px auto;
}

#nameLetter {
	font-size: 120px;
	font-style: bolder;
	font-family: Pixel Coleco;
	text-align: center;
	margin: 0px 0px 0px 0px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	transition-duration: 0.5s;
	cursor: pointer;
}

#nameLetter:hover {
	font-size: 150px;
	color: #ff0000;
	transform: scale(1.1);
	text-shadow: 10px 10px #ffffff;
}

#restOfNameEven{
	font-size: 0px;
	text-align: left;
	font-family: Pixel Coleco;
	margin: 0px 0px 0px 0px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	transition-duration: 0.5s;
	cursor: pointer;
}

#nameLetter:hover + #restOfNameEven {
	font-size: 50px;
	color: #ffffff;
	transform: scale(1.1);
}

#restOfNameOdd{
	font-size: 0px;
	text-align: right;
	font-family: Pixel Coleco;
	margin: 0px 0px 0px 0px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	transition-duration: 0.5s;
	cursor: pointer;
}

#nameLetter:hover + #restOfNameOdd {
	font-size: 50px;
	color: #ffffff;
	transform: scale(1.1);
}
