/*
-------------
   colors
-------------
black: #000000 (page background)
gray: #151515 (navBar background)
	  #808080 (navBar border)
	  #909090 (default text)
	  
*/

/*---overall page---*/
@font-face {
	font-family: Pixel Coleco;
    	src: 
	url('fonts/Pixel_Coleco.ttf') format('truetype'),	
	url('fonts/Pixel_Coleco.eot') format('embedded-opentype'),
	url('fonts/Pixel_Coleco.otf') format('opentype'),
	url('fonts/Pixel_Coleco.svg') format('svg'),	
	url('fonts/Pixel_Coleco.woff') format('woff');	
}
@font-face {
	font-family: Pixel Digivolve;
    	src: 
	url('fonts/Pixel_Digivolve.ttf') format('truetype'),
	url('fonts/Pixel_Digivolve.eot') format('embedded-opentype'),
	url('fonts/Pixel_Digivolve.otf') format('opentype'),
	url('fonts/Pixel_Digivolve.svg') format('svg'),	
	url('fonts/Pixel_Digivolve.woff') format('woff');
}

@font-face {
  font-family: Hacked;
  src: 
  url('fonts/HACKED.ttf') format('truetype'),
  url('fonts/HACKED.eot') format('embedded-opentype'),
  url('fonts/HACKED.otf') format('opentype'),
  url('fonts/HACKED.svg') format('svg'),	
  url('fonts/HACKED.woff') format('woff');	  
}

body {
	background-color: #000000;
	color: #ffffff;
	font-family: 'Courier New', monospace;
}

main {
	margin-left: 10px;
	margin-right: 10px;
}

/*---navigation bar---*/

#logo {
	font-size: 180px;
	font-family: Hacked;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	color: #ff0000;
	float: center|left;
	text-align:center;
	
	-webkit-animation: shake 0.1s linear infinite;
  -moz-animation: shake 0.1s linear infinite;
  -ms-animation: shake 0.1s linear infinite;
  -o-animation: shake 0.1s linear infinite;
  animation: shake 0.1s linear infinite;
}

#logoBottom {
	font-size: 110px;
	font-family: Hacked;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	color: #ffffff;
	float: center|left;
	text-align:center;
	
	-webkit-animation: wiggle 0.5s linear infinite;
  -moz-animation: wiggle 0.5s linear infinite;
  -ms-animation: wiggle 0.5s linear infinite;
  -o-animation: wiggle 0.5s linear infinite;
  animation: wiggle 0.5s linear infinite;
}

#logoBox {
	width: 96%;
	border: 13px dashed #ffffff;
	margin: 0px auto;
}

#navButtons {
	font-size: 55px;
	font-family: Pixel Digivolve;
	font-weight: normal;
	padding: 0px;
	margin: 10px;
	text-decoration: none;
	color: #ffffff;
	text-align:center;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	transition-duration: 0.5s;
	cursor: pointer;
	
	-webkit-animation: rotating 0.1s linear infinite;
  -moz-animation: rotating 0.1s linear infinite;
  -ms-animation: rotating 0.1s linear infinite;
  -o-animation: rotating 0.1s linear infinite;
  animation: rotating 0.1s linear infinite;
}

#navButtons:hover {
	color: #ff0000;
	font-size: 65px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

#serparator {
	width: 97%;
	border-bottom: 13px dashed #ffffff;
	margin: 5px auto;
}


.footer {
        width: 100%;
	text-align: right;
}

#copyrights {
	font-family: Pixel Coleco;
}

a {
	text-decoration: none;
}


