/*
-------------
   colors
-------------
black: #000000 (page background)
gray: #151515 (navBar background)
	  #808080 (navBar border)
	  #909090 (default text)
	  
*/

/*---overall page---*/
@font-face {
	font-family: Pixel Coleco;
    	src: 
	url('#{resource["css:fonts/Pixel_Coleco.ttf"]}') format('truetype'),	
	url('#{resource["css:fonts/Pixel_Coleco.eot"]}') format('embedded-opentype'),
	url('#{resource["css:fonts/Pixel_Coleco.otf"]}') format('opentype'),
	url('#{resource["css:fonts/Pixel_Coleco.svg"]}') format('svg'),	
	url('#{resource["css:fonts/Pixel_Coleco.woff"]}') format('woff');	
}
@font-face {
	font-family: Pixel Digivolve;
    	src: 
	url('#{resource["css:fonts/Pixel_Digivolve.ttf"]}') format('truetype'),
	url('#{resource["css:fonts/Pixel_Digivolve.eot"]}') format('embedded-opentype'),
	url('#{resource["css:fonts/Pixel_Digivolve.otf"]}') format('opentype'),
	url('#{resource["css:fonts/Pixel_Digivolve.svg"]}') format('svg'),	
	url('#{resource["css:fonts/Pixel_Digivolve.woff"]}') format('woff');
}

@font-face {
  font-family: Hacked;
  src: 
  url('#{resource["css:fonts/HACKED.ttf"]}') format('truetype'),
  url('#{resource["css:fonts/HACKED.eot"]}') format('embedded-opentype'),
  url('#{resource["css:fonts/HACKED.otf"]}') format('opentype'),
  url('#{resource["css:fonts/HACKED.svg"]}') format('svg'),	
  url('#{resource["css:fonts/HACKED.woff"]}') format('woff');	  
}

body {
	background-color: #000000;
	color: #ffffff;
	font-family: 'Courier New', monospace;
}

main {
	margin-left: 10px;
	margin-right: 10px;
}

/*---navigation bar---*/

#logo {
	font-size: 180px;
	font-family: Hacked;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	color: #ff0000;
	float: center|left;
	text-align:center;
}

#logoBottom {
	font-size: 110px;
	font-family: Hacked;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	color: #ffffff;
	float: center|left;
	text-align:center;
}

#logoBox {
	width: 96%;
	border: 13px dashed #ffffff;
	margin: 0px auto;
}

#navButtons {
	font-size: 55px;
	font-family: Pixel Digivolve;
	font-weight: normal;
	padding: 0px;
	margin: 10px;
	text-decoration: none;
	color: #ffffff;
	text-align:center;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	transition-duration: 0.5s;
	cursor: pointer;
}

#navButtons:hover {
	color: #ff0000;
	font-size: 65px;
}

#serparator {
	width: 97%;
	border-bottom: 13px dashed #ffffff;
	margin: 5px auto;
}


.footer {
        width: 100%;
	text-align: right;
}

#copyrights {
	font-family: Pixel Coleco;
}

a {
	text-decoration: none;
}


